body,div,ul{margin:0px;padding:0px;border: 0px}
.header ul{
	float: right;
	margin: 0;
	padding-top: 20px;
	padding-right: 10px;
}
.header li{
	display: inline;
}

.header a{
	text-decoration:none;
	color: white;
}
.header img{
	padding-left: 20px;
}
.header{
	height: 60px;
	background-color: #808080;
}
.footer{
	background-color: black;
	font-size: 15px;

}
.footer p{
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.content{
	float: right;
	display: block;
	
}
#first,#last,#side {
	padding: 10px;
	border: 2px solid;
	border-style: outset;
	background-color: white;
	margin: 20px;
}
h3{
	color: #808080;
}
.author{
	color: #808080;
}
#table{
	border-collapse: collapse;
}
#table th{
	background-color: #383838;
	color: white;
}
#btn{
	width: 200px;
	background-color: blue;
	color: white;
	font-size: 15px;
	border-radius:25px;

}
